.radio{
    margin-left: 15px;
    margin-top: -5px;
}

.label{
    margin: 10px;
}

.location{
    margin-left: 5px;
    margin-right: 25px;
    padding-left: 30px;
}

.card{
    width: 50%;
    box-align: center;
    margin: 10%;
}